<header>
    <div class="container">
        <div class="row vcenter">
            <div class="col-sm-1 logo_image">
                <a href="/">
                    <img src="images/logotype.png" alt="easy-pills.com" class="img-responsive" width="50px">
                </a>
                <!-- <h2>easy-pills.com</h2> -->
            </div>
            <div class="col-sm-5 logo_text">
                <a href="/" id="logo_link">EasyPills.com</a>
            </div>
            <div class="col-sm-6 login">
                <button data-toggle="modal" id="sign_in" href="#modal" >Вхід</button>
                <button data-toggle="modal" id="sign_up" href="#modal">Реєстрація</button>
            </div>
        </div>
    </div>
</header>