<div class="col-md-4">
    <div class="item">
        <div class="item_image vcenter">
            <a href="easypills.com/item.html?items-3">
                <img src="img/items/items-3.jpg" href="item.html?items-3" alt="Item 3" class="img-responsive center-block item_preview">
            </a>
        </div>
        <a href="easypills.com/item.html?items-3" class="decoration_none">
            <h2>Лазолван (сироп)</h2>
        </a>
        <div class="rating vcenter">
            <div class="productRate">
                <div style="width: 96%"></div>
            </div>
            <div class="rating_count">
                4.8
            </div>
        </div>
        <p><span>Діюча речовина:</span> амброксола гидрохлорид</p>
        <p><span>Категорія:</span> ліки від кашлю</p>
        <div class="price">77...180 грн</div>
        <p>Всього пропозицій: <span>28</span></p>
    </div>
</div>