<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{title}}</title>

        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/tab.css' />
        <link rel="stylesheet" href="/stylesheets/fonts.css">
    </head>
    <body>

        {{> header}}

        {{{body}}}

        {{> footer}}

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="javascripts/bootstrap.min.js"></script>
        <script src="javascripts/jquery.nicescroll.min.js"></script>
        <script src="javascripts/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
        <script>
            $(document).ready(
                    function() {
                        $("html").niceScroll({cursorcolor:"#000"});
                    }
            );
        </script>
    </body>
</html>
