<script language = 'javascript'>
    var delay = 4000;
    setTimeout("document.location.href='../'", delay);
</script>

<br></br>
<h2 style="padding-top: 260px; padding-left: 150px;">{{imessage}}</h2>
<h4 style="padding-bottom:200px; padding-left: 150px; color:#339fd6;">Через 4 секунди ви будете автоматично перенаправлені на головну сторінку</h4>