header {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #222222;
    position: fixed;
    width: 100%;
    height: 62px;
    z-index: 9;
}

body {
    overflow-y: scroll;
    min-height: 100%;
}

footer {
    height: 80px;
    width: 100%;
    background-color: #222222;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
}

.vcenter {
    align-items: center;
    display: flex;
    justify-content: center;
}

.logo_image {
    text-align: right;
}

.logo_text {
    margin-top: 3px;
}

.logo_text > a{
    text-align: left;
    font-size: 35px;
    color: white;
    font-weight: bold;
    font-family: Aclonica;
}

a#logo_link:link {
    color: white;
    text-decoration: none;
}

a#back_to_result {

}

a.decoration_none:link {
    text-decoration: none;
}

a.decoration_none:hover > h4{
    color: #0a7e6a;
}

.login {
    text-align: right;
}

button {
    border: none;
    background-color: #11cc92;
    height: 30px;
    width: 120px;
    font-size: 16px;
    margin: 5px;
    color: white;
    font-weight: bold;
    outline: none;
}

button:hover {
    background-color: #0a7e6a
}

button#find_btn {
    width: 150px;
    height: 45px;
    font-size: 22px;
}

button#set_param {
    margin-top: 35px;
}

button#add_favour_btn {
    width: 200px;
    height: 45px;
    margin: 30px;
}

section#main {
    padding-top: 80px;
    margin-bottom: 30px;
    background-size: cover;
    background: url(../images/search_bg.jpg) no-repeat center;
}

section#upper_line {
    padding-top: 90px;
}

h1 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 64px;
    font-weight: bold;
    color: white;
}

h1.price_range {
    padding: 0;
    color: darkred;
    font-size: 32px;
}

h2 {
    color: #11cc92;
    font-size: 20px;
    font-weight: bold;
    text-transform: lowercase;
}

h2:first-letter {
    text-transform: capitalize;
}

h2#item_name {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 26px;
}

h2#analogs_h {
    margin-left: 60px;
    color: #222222;
}

h2.price_h {
    font-size: 24px;
    color: darkred;
}

h3 {
    padding-bottom: 13px;
    color: #11cc92;
    font-size: 20px;
}

h3#instruct_h {
    color: black;
    font-weight: bold;
    text-align: center;
}

h4 {
    color: #11cc92;
    font-size: 16px;
    font-weight: bold;
}

h4.proposition_count {
    padding-top: 10px;
    color: gray;
}

h5 {
    padding-top: 40px;
    padding-bottom: 65px;
    font-size: 16px;
    color: white;
}

h6 {
    color: white;
    font-size: 14px;
}

.search {
    background: url(../images/icons/search.png) no-repeat 470px white;
    background-size: 20px;
    width: 500px;
    border-radius: 7px;
    border-width: 1px;
    font-size: 18px;
    outline: none;
    padding-left: 10px;
    padding-right: 35px;
}

input[type='checkbox'] {
    width: 25px;
    height: 25px;
    margin: 20px;
}

input#min_price {
    width: 70px;
    margin: 1px;
    border-radius: 5px;
    border: 1px double darkgray;
    padding-left: 3px;
    padding-right: 3px;
    outline: none;
}

input#max_price {
    width: 70px;
    margin: 1px;
    border-radius: 5px;
    border: 1px double darkgray;
    padding-left: 3px;
    padding-right: 3px;
    outline: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid darkgray;
    box-shadow: 0px -1px 2px rgba(136,136,136,0.55);
    margin: 2px;
    padding: 0;
    margin-bottom: 20px;
}

hr.l2 {
    text-align: center;
    width: 90%;
    border-color: #13bf8b;
    margin-left: 4%;
    right: 4%;
    margin-top: 15px;
}

.check {
    padding-top: 20px;
}

.items_type {
    padding-left: 30px;
    padding-top: 20px;
    margin: 0;
}

.sort_param {
    height: 27px;
    font-size: 14px;
    padding: 4px 0 3px 3px;
    width: 160px;
}

.item_preview {
    max-width: 250px;
    max-height: 250px;
}

span {
    font-weight: bold;
}

.item {
    margin: 10px;
    padding: 20px;
    border: 2px solid white;
}

.item:hover {
    border: 2px solid lightgray;
    box-shadow: 3px 3px 10px lightgray;
}

.price {
    color: darkred;
    font-size: 22px;
    font-weight: bold;
    margin: 15px;
}

.item_image {
    height: 270px;
}

.load_items {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.rating {
    margin: 20px;
}

.item_rating {
    margin: 0px;
}

.rating_count {
    margin-top: 7px;
    margin-left: 10px;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
}

.productRate {
    background: url(../images/icons/stars.jpg);
    width: 164px;
    height: 32px;
    position: relative;
    text-align: center;
}
.productRate div {
    background: url(../images/icons/stars.jpg) left bottom;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}
.productRate span {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: url(../images/icons/stars.jpg) left center;
    width: 0;
    cursor: pointer;
}

li.active > a {
    color: #13bf8b !important;
    background-color: #ecfff7 !important;
    border-top: 3px solid #13bf8b !important;
    margin-top: -2px;
}

.nav-tabs > li {
    width: 25%;
    text-align: center;
}

.nav-tabs > li > a {
    color: gray;
    font-weight: bold;
    font-size: 18px;
    background-color: #e9e9e9;
}

.nav-tabs > li > a:hover {
    color: #4f4f4f;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 30px;
    margin-bottom: 30px;
}

#info {
    padding-top: 40px;
}

.full_item_image {
    width: 300px;
    margin-bottom: 40px;
}

.main_info {
    text-align: center;
}

.other_info {
    padding-right: 30px;
}

.other_info > p {
    margin-bottom: 25px;
}

#instruction {
    padding-left: 60px;
    padding-right: 60px;
}

.sort {
    padding-bottom: 10px;
    padding-right: 60px;
}

.analog_item {
    padding: 30px;
}

.analog_img {
    width: 150px;
    align-self: center;
}

.price_info {
    text-align: right;
    padding-right: 80px;
}

/*Alternative rating
<div title="" class="ui-rating">
    <a class="ui-rating-star ui-rating-full" title="ужасно!"></a>
    <a class="ui-rating-star ui-rating-empty" title="не нравится"></a>
    <a class="ui-rating-star ui-rating-empty" title="нормально"></a>
    <a class="ui-rating-star ui-rating-empty" title="нравится"></a>
    <a class="ui-rating-star ui-rating-empty" title="отлично!"></a>
</div>

 !*********************
* Rate star
*********************!

.rateHolder .ui-rating .ui-rating-star,
.rateHolder .ui-rating .ui-rating-cancel{
 width: 23px;
 height: 21px;
 font-size:2px;
 float:left;
 text-decoration:none;
 vertical-align:bottom;
 background-image:url(../images/star.png);
 background-repeat:no-repeat;
}

.rateHolder .ui-rating a {
    cursor: pointer;
}

.rateHolder .ui-rating-full  {
    background-position: 0 -21px;
}

.rateHolder .ui-rating-half  {
    background-position:left -21px;
}

.rateHolder .ui-rating-empty {
    background-position:left -42px;
}

.rateHolder .ui-rating-cancel-empty {
    background-position:left -64px;
}

.rateHolder .ui-rating-cancel-full {
    background-position:left -80px;
}

.rateHolder .ui-rating-hover {
    background-position: 0 0;
}

.rateHolder .ui-selected-value {
    background-color: #EEEEEE;
    margin-left: 150px;
    text-align: center;
    width: 110px;
}

.rateHolder,
.rateHolder .ui-rating {
    display: inline-block;
}

.rateHolder .rateValue {
    color: #666;
    position: relative;
    top: -3px;
    margin: 0 0 0 5px;
}

.rateHolder {
    position: relative;
    top: -2px;
}

.retweet {
    width: 100px;
}*/

/*ul{*/
    /*background-color: rgba(255, 255, 255, 1);*/
    /*width: 500px;*/
    /*border-radius: 5px;*/
    /*padding: 10px;*/
/*}*/

/*li {*/
    /*padding-bottom: 5px;*/
    /*list-style-type: none;*/
    /*padding-left: 0px;*/
/*}*/

.ui-widget-content
{
    border-radius: 5px;
    color: #222222;
    background-color: white;
}

.ui-menu
{
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 2px;
}

.ui-menu .ui-menu-item
{
    clear: left;
    float: left;
    margin: 0;
    width: 100%;
    color: #222222;

}

.ui-menu .ui-menu-item :hover
{
    display: block;
    padding-left: 3px;
    text-decoration: none;
    color: #222222;
    cursor: pointer;
    background-color: #afffe1;
}

.tab-content {
    min-height: 600px;
}

.active_substance {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-height: 18px; /* fallback */
    max-height: 54px; /* fallback */
}

hr#l3 {
    margin-top: 10px;
}

button#add_new_btn {
    width: 150px;
    height: 35px;
}

section#add_and_search {
    padding-top: 100px;
}

h2#admin_header {
    font-size: 35px;
    margin-bottom: 50px;
}

h2.l2 {
    text-align: center;
    width: 90%;
    border-color: #13bf8b;
    margin-left: 4%;
    margin-left: 4%;
    margin-top: 15px;
}

.item_control {
    color: #11cc92;
    text-align: right;
    padding-top: 20px;
    padding-right: 100px;
}

.list_item {
    padding: 30px 30px 0px;
}

.field {
    text-align: center;
}

section#edit_form {
    padding-top: 80px;
}

.field {
    padding-bottom: 20px;
}

.field1 {
    text-align: right;
}

.field2 {
    text-align: left;
}

.field_input {
    width: 70%;
}

h2.label {
    padding: 0;
}

.confirm_btns {
    padding: 30px;
}